html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbarList {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

li {
  float: left;
}
// .nav-link{
//   margin-right: 30px;
//   margin-top: 10px;
// }

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 21px 35px;
  text-decoration: none;
  font-size: larger;
}

li a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-color: #32409a;
  text-decoration-thickness: 4px;
  color: black;
}

.active a{
text-decoration: underline;
text-decoration-color: #32409a;
text-decoration-thickness: 4px;
color: black;
}
.container {
  padding-top: 25px;
  width: 300px;
  margin-left: 380px
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.user-id {
  color: red;
  margin-right: 20px;
}

.user-name {
  color: blue;
}

.user-age {
  margin-left: auto;
}
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  width:5rem;
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.wrapper {
  height: inherit;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
footer {
  //position:fixed;
  //padding: 5px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 65px;
  background: #7dcbec;
}
.footerClass{
  display: flex;
  justify-content: space-around;
  background: #7dcbec;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color:black;
      text-decoration: underline;
    }
  }
}
.footerLink:hover{
  text-decoration: underline;
  text-decoration-color: #32409a;
  text-decoration-thickness: 4px;
}
.footerLink{
  font-weight: bold;
}  
.slider{
  // padding-left: 65px;
   background-color: #7dcbec;
   padding: 2rem 2.5rem 1rem 2.5rem;

}
.sc_action_item_inner{
  max-width: calc(50% + 25px) !important;
  padding: 2.5rem 2.5rem 2.1875rem 1.25rem !important;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}

.sale-cards{
  display: flex;
}
.card-1{
  text-align: left;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s;
  will-change: transform;
}
.kal-video{
  margin :auto;
  text-align: center;
}

.align-cards{
  display: flex;
  padding: 0 !important;
  font-weight: bold;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  justify-content:flex-start;
}
.p-x-30{
  padding: 30px;
}
.nav-30{
  padding-right: 30px;
}
.category{
  color: grey;
}
.text-center{
  text-align: center;
}
.container {
  padding-top: 25px;
  width: 300px;
  margin-left: 380px
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.user-id {
  color: red;
  margin-right: 20px;
}

.user-name {
  color: blue;
}

.user-age {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .hide{
    display: none;
  }
}
section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}

.form{
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
  /* height: 600px; */
}

.form-body{
  text-align: left;
}

.form-body > *{
  padding: 5px;
}



.label{
  display: block;
  font-size: larger;
  padding: 5px;
  font: 700px;
}
 
.input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
}
.btn{
  color: white !important;
  background-color: red !important;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 30px auto;
  margin-left: 80px;
}

.errors {
  color: #bf1650;
}

.errors::before{
  display: inline;
  content: "⚠ ";
}

.footerClass {
  .container {
    padding: 0 !important;
  }
}

.click-to-call {
  display: block;
}

#backToTop {
  display: none;
  z-index:100;
  position: fixed;
  right: 10px;
  bottom: 10px; 
}

@media (max-width:992px) {
//   .navbar-nav{
//     flex-direction: row !important;
//     font-size: 11px;
// }
// .navbar-brand{
//   margin-right: 0 !important;
//   span{
//     width: 85px;
//   }
// }
.nav-30{
  padding-right: 10px;
}
}

@media (max-width:540px) {
  // .nav-link{
  //   margin-right: 10px;
  // }
}

.gallery__img {
  vertical-align: middle;
  max-height: auto;
}

.gallery__container {
  position: relative;
  width:40%;
  }


  @media screen and (max-width: 1000px) and (min-width:700px) {
    .gallery__container{
      width: 60%;
    }
  }
  @media screen and (max-width: 700px) {
    .gallery__container{
      width: 90%;
    }
  }

  .tumbnailContainer{
    position: relative;
    margin-bottom : 3px;
  }


.gallery {
  display : none;
}

.gallery__cursor {
  cursor: pointer;
}

.gallery__prev,
.gallery__next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  background-color: rgb(111, 111, 111);
}

.thumbnail__prev,
.thumbnail__next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  background-color: rgb(111, 111, 111);
}

@media screen and (max-width: 450px) {
  .gallery__prev, .gallery__next{
    padding: 12px;
    font-size: 12px;
    margin-top: -35px

}
.thumbnail__prev,
.thumbnail__next{
  padding: 7px;
  font-size: 8px;
  margin-top: -35px

}

}

.thumbnail__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



.gallery__prev:hover,
.gallery__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.thumbnail__prev:hover,
.thumbnail__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.gallery__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.space__container {
  background-color: #222;
  padding: 2px 16px;
}

.gallery__row {
  display: grid;
  gap:2px;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  overflow-x: auto;
  -ms-overflow-style: scroll;  
  scrollbar-width: none;  
}

.gallery__row::-webkit-scrollbar { 
  display: none; 
  }

// .gallery__column  > img {
//   //inline-size: 100%;
//  //aspect-ratio: 4/3;
//   // object-fit: contain;
// }

.gallery__flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail__shade {
  opacity: 0.5;
}

.active,
.thumbnail__shade:hover {
  opacity: 1;

}
.reset-password{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background: #7dcbec;
  padding-bottom: 60px;
}

.nav__sticky {
  width: 100%;
  height: 85px; 
  position: fixed; 
  top: 0;
  z-index: 1;
  }
  
main {
  margin-top: 4.5rem;
  min-height: 80vh;
}


.navbar{
  padding : 0.5rem 1rem ;
  justify-content: normal !important;
  box-shadow: 0 2px 6px 0rgba(0,0,0,.12) !important;
  //background: cadetblue !important;
}