footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: #7dcbec;
  }
  .footerClass{
    display: flex;
    justify-content: space-around;
    background: #7dcbec;
  }
  .footerLink:hover{
    text-decoration: underline;
    text-decoration-color: #32409a;
    text-decoration-thickness: 4px;
  }
  .footerLink{
    font-weight: bold;
  }  