.navbarList {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 21px 35px;
    text-decoration: none;
    font-size: larger;
  }
  
  li a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-color: #32409a;
    text-decoration-thickness: 4px;
    color: black;
  }
  
 .active a{
  text-decoration: underline;
  text-decoration-color: #32409a;
  text-decoration-thickness: 4px;
  color: black;
  }