/* fix */
@media (min-width: 1201px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}}

@media (min-width: 993px) and (max-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px !important;
}}

@media (min-width: 769px) and (max-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px !important;
}}

@media (min-width: 577px) and (max-width: 768px) {
.container, .container-md, .container-sm {
    max-width: 720px !important;
}}

@media (max-width: 576px) {
.container, .container-sm {
    max-width: 540px !important;
}}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
}