.container {
    padding-top: 25px;
    width: 300px;
    margin-left: 380px
  }
  
  .input {
    padding: 5px 15px;
    width: 300px;
  }
  
  .user-list {
    margin-top: 30px;
  }
  
  .user {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
  }
  
  .user-id {
    color: red;
    margin-right: 20px;
  }
  
  .user-name {
    color: blue;
  }
  
  .user-age {
    margin-left: auto;
  }