:root {
    --color_subthemeB: pink;
}

h3 {
    &.themeA {
        &.subthemeB {
            color: var(--color_subthemeB) !important;
        }
    }
}

.btn-themeA {
    &.btn-subthemeB {
        background: var(--color_subthemeB) !important;
        color: black !important;
    }
}

.alert-themeA {
    &.alert-subthemeB {
        background: var(--color_subthemeB) !important;
        color: black !important;
    }
}