:root {
    --color_themeA: blue;
}

h3 {
    &.themeA {
        color: var(--color_themeA);
    }
}

.btn-themeA {
    background: var(--color_themeA);
    color: white;
}

.alert-themeA {
    background: var(--color_themeA);
    color: white;
}